<!DOCTYPE html>
<html lang="en">
<head>

    <script src=" ./static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sonia Batheja">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sonia professional website">
    <title>Sonia Batheja</title>
</head>
<body>
    <header>
        <h1 id="webname">Sonia Batheja</h1>
        <nav class="toolbar">
            <a href="../index.html">About Me</a>
            <a href="cv.html">Professional Experience</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">Hobbies</a>
        </nav>
    </header>

    <div class="main">
        <h2>Contact Me</h2>

        <form id="contactForm">
            <label for="yName">Your name (required) </label>
            <input type="text" id="yName" name="yName"><br><br>
            <label for="yEmail">Your email </label>
            <input type="text" id="yEmail" email="yEmail"><br><br>


            <label for="comments">Your comment </label>
            <textarea id="comments" name="comments"></textarea>

            
            

            <input type="submit" value="Send" class="send-button">
            <p id="error-message" style="color: red; display: none;">Please enter your name before submitting!</p>
        </form>

        <script>
            document.getElementById("contactForm").addEventListener("submit", function(event) {
                let nameInput = document.getElementById("yName").value.trim();
                let errorMessage = document.getElementById("error-message");

                if (nameInput === "") {
                    event.preventDefault();
                    errorMessage.style.display = "block";
                } else {
                    errorMessage.style.display = "none";
                }


            });
        </script>

        <table>
            <tr>
                <th>Contact Methods</th>
                
            </tr>
            <tr>
                <td>Email</td>
                <td>sbatheja@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>908-392-5255</td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td>www.linkedin.com/in/soniabatheja207</td>
            </tr>
        </table>
        
    </div>

    <footer>
        <p>© 2025 designed and coded by Sonia Batheja</p>
    </footer>
</body>
</html>
