<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sonia Batheja">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sonia professional website">
    <title>Sonia Batheja</title>
</head>
<body style="font-family: Arial">
    <header style="color:blue; background:lightblue">
        <h1>Sonia Batheja</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>

    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>CMU Design For America</td>
                <td>Redesigning the research-matching process, as part of a 1-year project with Carnegie Mellons Office of Undergraduate Research to enhance the identification of impactful research opportunities for students.</td>
            </tr>
            <tr>
                <td>Hunterdon Central Regional High School</td>
                <td>Selected from 3000+ students to develop a student data hub for efficient access to educational resources</td>
            </tr>
            <tr>
                <td>UPENN Innovation Tournament</td>
                <td>As a member of Whartons Summer-long, bracket-structured design program, developed a piezoelectric platform and won the
                    Wharton Innovation competition</td>
            </tr>
            <tr>
                <td>Hexaware Technologies</td>
                <td>Developed a JavaScript platform to build an interactive resume from a 3D-metaverse model of my bedroom that represents my
                    true self, and redefines recruitment process and candidate evaluation through innovative and creative engagement models</td>
            </tr>
            <tr>
                <td>Girl Scouts of America</td>
                <td>Awarded a national award recognizing a Girl Scouts dedication to creating and implementing a sustainable project that addresses a
                    community need.</td>
            </tr>
            <tr>
                <td>Rutgers University WINLAB</td>
                <td>Responsible for testing the next-generation photo recognition model to improve New York Citys pandemic response plans.</td>
            </tr>


        </table>
        <a href="../static/SoniaBatheja_Resume.pdf">My Resume (pdf)</a>

    </div>

    <footer>
        <p>© 2025 designed and coded by Sonia Batheja</p>
    </footer>
</body>
</html>