<!DOCTYPE html>
<html lang="en">
<head>

    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sonia Batheja">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sonia professional website">
    <title>Sonia Batheja</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Sonia Batheja</h1>
        <nav class="toolbar">
            <a href="../index.html">About Me</a>
            <a href="cv.html">Professional Experience</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">Hobbies</a>
        </nav>
    </header>

    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>CMU Design For America</td>
                <td>Redesigning the research-matching process, as part of a 1-year project with Carnegie Mellons Office of Undergraduate Research to enhance the identification of impactful research opportunities for students.</td>
            </tr>
            <tr>
                <td>Hunterdon Central Regional High School</td>
                <td>Selected from 3000+ students to develop a student data hub for efficient access to educational resources</td>
            </tr>
            <tr>
                <td>UPENN Innovation Tournament</td>
                <td>As a member of Whartons Summer-long, bracket-structured design program, developed a piezoelectric platform and won the
                    Wharton Innovation competition</td>
            </tr>
            <tr>
                <td>Hexaware Technologies</td>
                <td>Developed a JavaScript platform to build an interactive resume from a 3D-metaverse model of my bedroom that represents my
                    true self, and redefines recruitment process and candidate evaluation through innovative and creative engagement models</td>
            </tr>
            <tr>
                <td>Girl Scouts of America</td>
                <td>Awarded a national award recognizing a Girl Scouts dedication to creating and implementing a sustainable project that addresses a
                    community need.</td>
            </tr>
            <tr>
                <td>Rutgers University WINLAB</td>
                <td>Responsible for testing the next-generation photo recognition model to improve New York Citys pandemic response plans.</td>
            </tr>
            <tr>
                <td>Game-U</td>
                <td>Taught coding summer camps at a local coding studio to children of all ages. Focused on game development, 3D modeling, and some robotics projects.</td>
            </tr>
            <tr>
                <td>Hunterdon Central Graphic Design Club</td>
                <td>Worked as the social media manager to increase outreach and promote membership.</td>
            </tr>


        </table>
        
        <a href="../static/SoniaBatheja_Resume.pdf">My Resume (pdf)</a>

    </div>

    <footer>
        <p id="copyYear">Designed and coded by Sonia Batheja &copy; </p>
    </footer>
</body>
</html>
