<!DOCTYPE html>
<html lang="en">
<head>

    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sonia Batheja">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sonia professional website">
    <title>Sonia Batheja</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Sonia Batheja</h1>
        <nav class="toolbar">
            <a href="../index.html">About Me</a>
            <a href="cv.html">Professional Experience</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">Hobbies</a>
        </nav>
    </header>

    <div class="main">
        <h2>Things I Like To Do For Fun!</h2>
        
        <button id="showButton" onclick="showList()" class="send-button">Click to see...</button>
        <ul id="funList" style="display: none;">
            <li>Bollywood dance</li>
            <li>Travel</li>
            <li>Craft with my sister</li>
            <li>Spend time with my friends and family</li>
            <li>Decorate for Christmas!!!!</li>
            <li>Watch The Office</li>
        </ul>
    </div>

    <footer>
        <p id="copyYear">Designed and coded by Sonia Batheja © </p>
    </footer>
</body>
</html>
