<!DOCTYPE html>
<html lang="en">
<head>

    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sonia Batheja">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sonia professional website">
    <title>Sonia Batheja</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Sonia Batheja</h1>
        <nav class="toolbar">
            <a href="../index.html">About Me</a>
            <a href="cv.html">Professional Experience</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">Hobbies</a>
        </nav>
    </header>

    <div class="mainLayout">
        <div id="item1">
            <h2>Things I Like To Do For Fun!</h2>
            <ul id="funList">
                <li>Bollywood dance</li>
                <li>Travel</li>
                <li>Craft with my sister</li>
                <li>Spend time with my friends and family</li>
                <li>Decorate for Christmas!!!!</li>
                <li>Watch The Office</li>
            </ul>
        </div>
        
        <div id="item2">
            <img src="../static/dancePic.png" alt="Fun Image!" class="funIMG">
        </div>

        <div id="item3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kGiaKTHmfyE?si=srnCdaODvUXwWIWK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="container">
            <h2>Need Some Advice?</h2>
            <p id="adviceText">Click the button to get a random piece of advice!</p>
            <button id="generateButton" class="generate-button" onclick="getAdvice()">Generate!</button>
        </div>
        
        <!-- <button id="showButton" onclick="showList()" class="send-button">Click to see...</button> -->
        <!-- <ul id="funList" style="display: none;"> -->
        
    </div>

    <footer>
        <p id="copyYear">Designed and coded by Sonia Batheja © </p>
    </footer>
</body>
</html>
