@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    padding: 5px;
    margin: 5px;
    
    
}

#webname {
    color: #2b5b16;
    background-color: #93c47d;
}

header {
    background-color: #93c47d;
}

body {
    background-color: #f5f4fc;
}


.profile-pic {
    width: 250px;
    height: auto;
    margin: 0 auto 10px;
}



.comment-box label {
    margin-top: 5px;
}
textarea {
    width: 300px;
    height: 100px;
    padding: 5px;
}

.toolbar a {
    text-decoration: none;
    color: #38761d;
    margin-right: 15px;
}

.toolbar a:hover {
    background-color: #6aa84f;
    color: #2b5b16;
}

a {
    font-size: larger;
    color: #38761d;
    margin-right: 15px;
}

a:hover {
    background-color: #6aa84f;
    color: #2b5b16;
}

th {
    color: #2b5b16;
    background-color: #93c47d;
    width: fit-content;
    padding: 12px 5px;
}
.send-button {
    color: #2b5b16;
    background-color: #93c47d;
    border: #2b5b16;
    padding: 5px 10px;
    margin-top: 15px;
}

tr:nth-child(odd) {
    background-color: #dddddd

}

tr:nth-child(even) {
    background-color: #bbbbbb

}

form * {
    display: block;
    margin: auto;
    text-align: center;
}
